<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="/webjars/jquery/jquery.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <title>首页</title>

    <script src="/webjars/bootstrap/js/bootstrap.js"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            console.log("init complete");
            initCheck();
        });
        function initCheck() {
            if (!window.WebSocket) {
                console.log("WebSocket not supported by this browser!");
            } else {
                console.log("WebSocket supported by this browser!");
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Hello,World!</h1>
        <h2>资金管理 ＞ 账户查询</h2>
    </div>
</body>

</html>