<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/file/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <!--/*@thymesVar id="files" type="list"*/-->
        <li th:each="file : ${files}">
            <!--/*@thymesVar id="file" type="java.lang.String"*/-->
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>